/* setting default font for the whole page */
body {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    background: #73A6AD;
}
/* Stationary header */
#page-banner {
    position: fixed;
    background: #CC92C2;
    right: 0%;
    left: 0%;
    top: 0%;
    padding: .5%;
    z-index:10

}
/* map tabs to what elements they should display */

input { display: none; }
input + label { display: inline-block }

input ~ .credential-container { display: none }
#contact-tab:checked ~ section.credential-container.contact,
#education-tab:checked ~ section.credential-container.education,
#skill-tab:checked ~ section.credential-container.skills,
#project-tab:checked ~ section.credential-container.projects,
#work-tab:checked ~ section.credential-container.work { display: block; }

/* has to be top 300px cause header doesn't change size */
#tabs {

    position: absolute;
    top: 100px;
    width: 100%;
    overflow-y:auto;
    z-index: 2;
    background: white;

}
/* style when tab is not selected */
input + label {
    border: 1px solid #999;
    background: #EFD09E;
    padding: .5% 1%;
    border-radius: 4px 4px 0 0;
    position: relative;
    top: 1px;
    font-family: "Andalé Mono", monospace;
  }
  /* style when tab is selected */
  input:checked + label {
    background: #F6E6CA;
    border-bottom: 1px solid transparent;
  }
  input ~ .credential-container {
   
    padding: 12px;
  }

  .credential-container {
      background: white;
      color: #706D74;
      
  }

  .section-header {
      color: black;
      font-weight: bold;
  }
  .subsec-header {
      color: black;
  }